<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Manager</title>
  <style>
    .files {
      display: flex;
    }

    .file {
      max-width: 150px;
      min-width: 150px;
      text-align: center;
      display: inline;
      margin: 5px;
    }

    input:read-only {
      background-color: rgb(233, 233, 233);
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h3>File Manager</h3>
  <form action="#" th:action="@{/submit}" method="post">
    <p>File name:</p>
    <input type="text" th:value="*{name}" id="name" name="name" placeholder="Type file name" th:readonly="*{name}">
    <br><br>
    <textarea id="text" th:text="*{text}" name="text" placeholder="What you thinking?" cols="60" rows="10"></textarea>
    <br><br>
    <input type="submit" value="Save">
  </form>

  <h3>Files:</h3>
  <div class="files">
    <div class="file" th:each="file : ${files}">
      <img src="#" th:src="@{/images/file.png}" width="50" height="50" alt="file">
      <br>
      <span th:text="${file}"></span>
      <br>
      <a th:href="@{'/open/'+ ${file}}"> open</a>
      <a href="#">zip</a>
    </div>
  </div>
</body>

</html>
